* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #faf3f5 ;
}

.head {
    background-color: #DFF4FB;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-radius: 50px;
    height: 150px;
    display: flex;
    align-items: center;
 

}

.logo {
    background-color: #DFF4FB;
    width: 250px;
    border-radius: 50px;
    height: 150px;
    align-items: center;

}

.logoimg {
    width: 200px;
    height: 150px;
}

.cesta {
    background-color: #DFF4FB;
    border-radius: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.lista {
    margin-right: 10px;
    float: right;
    margin-right: auto;
    margin-bottom: 20px;
    line-height: 80px;
    list-style: none;
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

nav {
    background-color: #F8D8F0;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 60px;
    text-align: center;
    line-height: 20;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 60px;
    justify-content: space-evenly;
}

nav li {
    display: inline
}

.barra {
    background-color: #d3c5ff;
    border-radius: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.nav {
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.txt {
    font-size: x-large;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: inherit;

}

a:visited {
    text-decoration: none;
    color: inherit;
}

.galeria {
    display: flex;
    width: 80%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.fotos {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: 0.5s ease;

}

.fotos:hover {

    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

#izq {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#der {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.frase {
    text-align: center;

}

.animo {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #d3c5ff;
    border-radius: 50px;
    height: 80px;
    text-decoration: none;
    color: inherit;
    font-size: xx-large;
}

#cerrar{
	display:none;
}
#admin{
	display:none;
}
#productos{
	display:none;
}